<h1>Thank you for completing the survey!</h1>
<p>Your responses will help us explore new ways to improve the health and wellbeing of people impacted by multiple sclerosis.</p>
<p>Remember, if you have any questions about this study please feel free to contact Johns Hopkins medical student Laura at [email address]</p>
<p><a href="<%= root_path %>"> Back to survey </a></p>