.q {
	display: block;
	width: 400px;
	margin-bottom: 100px;
	.PIL_radio {
		label {
			display: block;
			padding-left: 20px;
			padding-right: 20px;
		}
			
		display: inline-block;
		text-align: center;
	}
	

	.labels {
		display: block;
		width: 100%;
		font-size: smaller;
		
		.left{
			float: left;
			text-align: left;
			padding-left: 10px;
			width: 190px;
		}
		
		.right{
			text-align: right;
			float: right;
			width: 190px;
			}
	}
}
 
 .error_explanation {
	color: red;
	padding-left: 10px;

}

.field_with_errors {
	select {
		//background-color: #FFEBE6;
		border: solid 2px red;
		}
	}
select {
	padding: 12px;
	
	}
	
.container {
	margin-left: auto;
	margin-right: auto;
	}

.rb {
			
		display: inline-block;
		label { 
			font-size: smaller;
			display: inline; 
			padding-right: 20px;
			}
			
}

.dq {
	display: block;
	margin-bottom: 20px;
	}
